{% extends '::layoutApplication.html.twig' %}

{% block title %}Application Boutique {% endblock %}
{% block nameCurrentConnect %} {{ user }} {% endblock %}
{% block contentPage %}

   <section id="main-content">
      <section class="wrapper">

      </section>
   </section>

{% endblock %}